* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.header {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 500px;
}



.header__menu {
    display: flex;
    justify-content: right;
    align-items: end;
    gap: 35px;


}

.header_link__1 {
    color: #F25822;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.header_link {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.Logo__Text__1 {

    padding-left: 14px;
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}

.Logo__Text__2 {
    color: #F25822;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}


.logo__header {
    display: flex;

}

.top__content {
    display: flex;
    margin-top: 94px;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: center;
    gap: 40px;
}

.top__info {}



.image__top__content {
    display: flex;

}

h1 {

    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    margin-top: 17px;
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__button {
    display: flex;
    margin-top: 37px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 72px;
}

button {
    color: white;
    border: none;
    stroke: none;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.top__button__link {
    text-decoration: none;
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__logos {
    display: flex;
    justify-content: space-between;
    margin-top: 97px;
    margin-bottom: 97px;
    padding-top: 97px;
    margin-bottom: 97px;
}