* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 500px;
}



.header__menu {
    display: flex;
    justify-content: right;
    align-items: end;
    gap: 35px;


}

.header_link__1 {
    color: #F25822;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.header_link {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.Logo__Text__1 {

    padding-left: 14px;
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}

.Logo__Text__2 {
    color: #F25822;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}


.logo__header {
    display: flex;

}

.top__content {
    display: flex;
    margin-top: 94px;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: center;
    gap: 40px;
}

.top__info {}



.image__top__content {
    display: flex;

}

h1 {

    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    margin-top: 17px;
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__button {
    display: flex;
    margin-top: 37px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 72px;
}

button {
    color: white;
    border: none;
    stroke: none;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.top__button__link {
    text-decoration: none;
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__logos {
    display: flex;
    justify-content: space-between;
    margin-top: 194px;
    margin-bottom: 97px;
}

.middle__top {

    display: flex;
    gap: 90px;
}

.item__top {
    height: 919;
    width: 370px;
    box-shadow: 15px 25px 56px 6px #0000000F;
    margin-top: 100px;
    width: 370px;
    height: 291px;
    top: -605px;
    left: -185px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.item__top__img {
    padding-left: 30px;
    padding-top: 40px;
    display: flex;
    width: 70px;
    height: 70px;

}

.item__top__title {
    padding-right: 31px;
    padding-left: 29px;
    margin-top: 25px;
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.item__top__parag {
    padding-right: 31px;
    padding-left: 29px;
    margin-top: 17px;
    font-family: Gilroy-Regular;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.item__top__link {
    padding-left: 29px;
    margin-top: 25px;
    font-family: Gilroy-Bold;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #000000;

}

.middle__bottom__text {
    margin-top: 92px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    line-height: 24px;
}

.item__bottom {
    margin-top: 54px;
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
}

.item__bottom__card {
    box-shadow: 15px 25px 56px 6px #0000000F;
    width: 370px;
    height: 549px;
    top: 56px;
    left: -185px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.item__bottom__img {
    width: 370px;
    height: 289px;
    top: 71px;
    left: -592px;

}

.item__bottom__title {
    margin-top: 22px;
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}

.item__bottom__parag {
    color: #AAAAAA;
    padding-right: 30px;
    padding-left: 30px;
    font-family: Gilroy-Regular;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 39px;
}

.item__bottom__button {
    margin-bottom: 50px;
}